{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/prop-types": 1
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "API_URL": true,
    "Raven": true,
    "fetch": true,
    "window": true,
    "alert": true
  }
}
